#root {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background-color: red; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagram-box {
  background-color: #6d6d6d87;
  height: 88vh;
  width: 67%;
  border: 1px solid #787878;
  border-radius: 12px;
}

.design-view {
  width: 100%;
  display: flex;
  height: 90vh;
  box-sizing: border-box;
  padding: 0px 15px;
  gap: 30px;
  justify-content: space-between;
  /* align-items: center; */
}

.react-flow__pane {
  cursor: default;
}
